/* Custom CSS to resize the logo in the admin interface */
.brand-link .brand-image {
    width: 30px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    max-height: 50px; /* Set a max height */
}

/* Custom CSS to resize the logo on the login page */
.login-logo img {
    width: 20px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    max-height: 30px; /* Set a max height */
}

/* Custom styles for the form */
.container {
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #333;
    font-weight: 700;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}
